@model IEnumerable<SMS.Models.GetStatModel>

@{
    ViewBag.Title = "آمار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3 class="text-center">آمار مربوط به دوره ها</h3>
</div>
<div class="text-center">
    <table class="table">
        <tr>
            <th>
                درصد پذیرش دوره
            </th>
            <th>
                تعداد دانشجوهای پذیرنده دوره
            </th>
            <th>
                تعداد دانشجوهای دعوت شده
            </th>
            <th>
                عنوان دوره
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="font-family:'B Nazanin'">
                    @Html.DisplayFor(modelItem => item.Percentage_s)
                </td>
                <td style="font-family:'B Nazanin'">
                    @Html.DisplayFor(modelItem => item.accepted)
                </td>
                <td style="font-family:'B Nazanin'">
                    @Html.DisplayFor(modelItem => item.invited_students)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>
</div>
<hr />
<div class="col-lg-12 text-right">
    <table class="table">
        <tr>
            <th>
                دوره (ها)ی محبوب
            </th>
           
        </tr>

        @foreach (var item in ViewBag.mostfav)
        {
            <tr>
                <td>
                    @item
                </td>

            </tr>
        }

    </table>
</div>
<hr />
<div class="col-12 text-right">
    <table class="table">
        <tr>
            <th>
                دوره (ها)ی کمتر محبوب
            </th>
            
        </tr>

        @foreach (var item in ViewBag.leastfav)
        {
            <tr>
                <td>
                    @item
                </td>

            </tr>
        }

    </table>
</div>